{% load render_bundle from webpack_loader %}
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <body>

    <div id="app" v-cloak class="flex h-screen bg-gray-300">
        <div class="w-full max-w-xs m-auto">
            <album-form/>
        </div>
    </div>

    <script>
        const album_id = {% if album_id %}{{ album_id }}{% else %}undefined{% endif %};
    </script>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'album_form' %}

    </body>
</html>
